<<<<<<< HEAD
<h1>Hello World</h1>
=======
<html>
<head><title>test index page</title></head><body>
<h1>heading: I'm a heading</h1>
<p>And I'm some body text, but I'm really here for the image!
</p>
<img src="images/sass-less.png" />
</body>
</html>
>>>>>>> d59bbefaf41d074b6b6132c741fa5af7ae3eb06d
