<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script> 
    
<div id="map"></div>
<div id="tool-tip"></div>
<div id="legends">   
  <div id="legend_countries" class="legend">
    <p class="legend_title">COUNTRY PM 2.5 LEVELS</p>
    <span class="country_leftest">0.03</span><span class="country_rightest">49.89</span><br>
    <aside class="colors">
      <div style="background-color:#fff74b;"></div>
      <div style="background-color:#ffd72d;"></div>
      <div style="background-color:#FFaa00;"></div>
      <div style="background-color:#FF8200;"></div>
      <div style="background-color:#FF5a00;"></div>
      <div style="background-color:#FF3200;"></div>
      <div style="background-color:#f50000;"></div>
      <div style="background-color:#c30000;"></div>
      <div style="background-color:#870000;"></div>
      <div style="background-color:#4e0000;"></div>
    </aside>
  </div>
  <div id="legend_cities" class="legend hidden">
    <p class="legend_title">CITY PM 2.5 LEVELS</p>
    <span class="city_leftest">2</span><span class="city_rightest">153</span><br>
    <aside class="colors">
      <div style="background-color:#fff74b;"></div>
      <div style="background-color:#ffd72d;"></div>
      <div style="background-color:#FFaa00;"></div>
      <div style="background-color:#FF8200;"></div>
      <div style="background-color:#FF5a00;"></div>
      <div style="background-color:#FF3200;"></div>
      <div style="background-color:#f50000;"></div>
      <div style="background-color:#c30000;"></div>
      <div style="background-color:#870000;"></div>
      <div style="background-color:#4e0000;"></div>
    </aside>
  </div>
</div>
<div id="slide_out_info">
  <a class="handle" href="#">Content</a>
  <h1>Air pollution trends in countries and cities</h1>
    In 2012, the <a href="http://www.who.int/mediacentre/news/releases/2014/air-pollution/en/" target="_blank">World Health Organization (WHO)</a> estimates 7 million people died - one in eight deaths - due to air pollution exposure. This map shows both national and city-level exposures to fine particulate matter or PM2.5, which is an air pollutant with human health consequences.<br><br>

  <span style="font-size:20px;"><b>FINE PARTICULATE MATTER (PM2.5)</b></span>
  Suspended particulates contribute to acute lower respiratory infections and other diseases such as cancer. They can penetrate human lung and blood tissue, leading to higher incidences of cardiovascular and lung disease. Most countries currently monitor and report coarse particulate pollution, or PM10 (particles between 2.5 and 10 microns in diameter). However, fine particulates or PM2.5 (2.5 microns and smaller) lodge deep in lung tissue and are far more injurious to health than coarser particulates. PM2.5 also travel farther from their source than PM10 and can have a more toxic composition, including heavy metals and carcinogenic compounds.<br><br> 

  According to the <a href="http://www.who.int/gho/phe/outdoor_air_pollution/en/" target="_blank">WHO</a>, fine particulate matter (PM2.5) has the greatest effect on human health. Airborne particulates originate from a variety of sources. PM2.5 is generally the product of combustion, whether anthropogenic, both from mobile sources such as vehicles and from stationary sources such as power plants, industry, households or biomass burning.<br><br>

  <span style="font-size:20px;"><b>COMPARE NATIONAL AND CITY-LEVEL RESULTS</b></span>
  City-level data (represented as points in the map) for around 1,600 cities in 91 countries from 2008 to 2013 are provided in the <a href="http://www.who.int/phe/health_topics/outdoorair/databases/AAP_database_methods_2014.pdf?ua=1" target="_blank">WHO's Ambient Air Pollution database</a>. These values for cities generally represent annual averaged data from a single or multiple air monitoring stations. Because location data were not provided for many of the database entries, we approximated the latitude/longitude of some of the cities and stations identified.<br><br> 

  The national data (represented by the country shading) are from the 2014 <a href="http://www.epi.yale.edu/" target="_blank">Environmental Performance Index (EPI)</a>. Researchers led by <a href="http://myweb.dal.ca/adonkela/main.swf" target="_blank">Aaron van Donkelaar</a> at Dalhousie University used satellite data to estimate ground-level exposures to fine particulate matter (PM2.5). These data indicate longer term exposures to PM2.5 and are based on a three-year rolling average of data from 1998 to 2012. Read more about how these data were developed <a href="http://epi.yale.edu/our-methods/air-quality" target="_blank">here</a>.<br><br>


  <span style="font-size:20px;"><b>ABOUT THE ENVIRONMENTAL PERFORMANCE INDEX (EPI)</b></span>
  The <a href="http://www.epi.yale.edu/" target="_blank">Environmental Performance Index</a> is a biennial global ranking of how well countries perform on high-priority environmental issues. It is a joint project of the <a href="http://envirocenter.yale.edu/" target="_blank">Yale Center for Environmental Law & Policy</a> and the <a href="http://ciesin.columbia.edu/" target="_blank">Center for International Earth Science Information Network</a> at The Earth Institute, Columbia University. 
  <br><br>
  <span>Created by <a href="http://spinsomewebs.com/" target="_blank">Pedro Cunha</a> and <a href="http://www.dmitrypavluk.com" target="_blank">Dmitry Pavluk</a> using CartoDB. With help from <a href="https://twitter.com/andrewxhill" target="_blank">Andrew Hill</a></span>
</div>
<div id="header_container">
  <div id="header">
    <div id="layer_selector" class="cartodb-infobox">
      <ul>
        <li data="2000" class="selected">2000</li>
        <li data="2001">2001</li>
        <li data="2002">2002</li>
        <li data="2003">2003</li>
        <li data="2004">2004</li>
        <li data="2005">2005</li>
        <li data="2006">2006</li>
        <li data="2007">2007</li>
        <li data="2008">2008</li>
        <li data="2009">2009</li>
        <li data="2010">2010</li>
        <li data="2011">2011</li>
        <li data="2012">2012</li>  
      </ul>

    </div>
    <div id="layer_selector2" class="cartodb-infobox">
      <ul>
        <li data="pm_2_5" id="show_cities">Show Cities</li> 
        <li  id="hide_cities" class="selected">Hide Cities</li>
      </ul>
    </div>
  </div>
</div>   
    

<script type="cartocss/html" id="cities">
/*City Styles*/

  #who_georeferenced_clean{
    marker-fill-opacity: 0.8;
    marker-line-color: #FFF;
    marker-line-width: 1.5;
    marker-line-opacity: 1;
    marker-width: 10;
    marker-fill: #FFFFB2;
    marker-allow-overlap: true;
  }
  #who_georeferenced_clean [ pm_2_5 <= 154] {
    marker-fill: #4e0000;
  }
  #who_georeferenced_clean [ pm_2_5 <= 140] {
    marker-fill: #870000;
  }
  #who_georeferenced_clean [ pm_2_5 <= 125] {
    marker-fill: #c30000;
  }
  #who_georeferenced_clean [ pm_2_5 <= 110] {
    marker-fill: #f50000;
  }
  #who_georeferenced_clean [ pm_2_5 <= 90] {
    marker-fill: #FF3200;
  }
  #who_georeferenced_clean [ pm_2_5 <= 69] {
    marker-fill: #FF5a00;
  }
  #who_georeferenced_clean [ pm_2_5 <= 55] {
    marker-fill: #FF8200;
  }
  #who_georeferenced_clean [ pm_2_5 <= 41] {
    marker-fill: #FFaa00;
  }
  #who_georeferenced_clean [ pm_2_5 <= 28] {
    marker-fill: #ffd72d;
  }
  #who_georeferenced_clean [ pm_2_5 <= 15] {
    marker-fill: #fff74b;
  }

</script>

<script type="cartocss/html" id="pm25_na">
/*Country Styles*/

  #pm25_na{
    polygon-fill: #FFFFB2;
    polygon-opacity: 0.8;
    line-color: #FFF;
    line-width: 1;
    line-opacity: 1;
  }
  #pm25_na [ {0} <= 49.9] {
     polygon-fill: #4e0000;
  }
  #pm25_na [ {0} <= 32.54] {
     polygon-fill: #870000;
  }
  #pm25_na [ {0} <= 25.17] {
     polygon-fill: #c30000;
  }
  #pm25_na [ {0} <= 15.17] {
     polygon-fill: #f50000;
  }
  #pm25_na [ {0} <= 10.85] {
     polygon-fill: #FF3200;
  }
  #pm25_na [ {0} <= 9.15] {
     polygon-fill: #FF5a00;
  }
  #pm25_na [ {0} <= 8.15] {
     polygon-fill: #FF8200;
  }
  #pm25_na [ {0} <= 6.06] {
     polygon-fill: #FFaa00;
  }
  #pm25_na [ {0} <= 4.62] {
     polygon-fill: #ffd72d;
  }
  #pm25_na [ {0} <= 2.98] {
     polygon-fill: #fff74b;
  }
</script>
